<header class="site-header">
  <div class="wrap">
    <a class="brand" href="index.html">
      <img src="assets/phoenix-league-logo-favicon.svg" alt="" width="32" height="32">
      Phoenix League
    </a>
    <nav>
      <ul>
        <li><a href="index.html" data-nav="home">Home</a></li>
        <li><a href="seasons.html" data-nav="seasons">Season Archive</a></li>
        <li><a href="stats.html" data-nav="stats">All-Time Stats</a></li>
        <li><a href="roster.html" data-nav="roster">Current Members</a></li>
        <li><a href="alumni.html" data-nav="alumni">Alumni</a></li>
        <li><a href="rulebook.html" data-nav="rulebook">Rulebook</a></li>
      </ul>
    </nav>
  </div>
</header>
